
<body>
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container-fluid">

      <div class="row justify-content-center">
        <div class="col-xl-9 d-flex align-items-center justify-content-between">
          <h1 class="logo"><a href="index.html">Mind For Analytics - M4A</a></h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

          <nav class="nav-menu d-none d-lg-block">
            <ul>
              <li class="active">
                <a (click)="btnClickHome();">Home</a></li>
              <li><a href="home" >About</a></li>
              <li><a href="#contact">Contact</a></li>

            </ul>
          </nav><!-- .nav-menu -->
          <a class="get-started-btn scrollto" (click)="btnClickSignUp();">Get Started</a>
        </div>
      </div>

    </div>
  </header><!-- End Header -->
<div class="login">
  <h1 class="title">Log in</h1>
  <form [formGroup] = "loginForm" (ngSubmit)="goToLogin()">
    <div class="container"><label for="email">Email</label>
      <input type="email" placeholder="correo@correo.com" id="email" formControlName = "email"/>
    </div>
    <div class="container"><label for="password" >Password</label>
      <input type="password" placeholder="Password" id="password" formControlName = "pass">
    </div>
    <div class="text-center">
      <div style="text-align:center">
    <button class="get-started-btn" [disabled]="loginForm.invalid">Log In</button></div>
  </div>
  </form>

      <h4>
        Don't have an account?
      </h4>
      <div style="text-align:center">
        <a class="btn-learn-more" (click)="btnClickSignUp();">Sign Up</a>
      </div>



  <!--  {{ loginForm.value | json }}
  {{ error}} -->
</div>


<footer id="footer">
  <div class="container">
    <h3>Minds For Analytics</h3>
    <div class="social-links">
      <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
      <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
      <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
      <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
    </div>
    <div class="copyright">
      &copy; Copyright <strong><span>Minds For Analytics</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </div>
</footer><!-- End Footer -->


</body>
