<body>

  <!-- ============================================================== -->
   <!-- main wrapper -->
   <!-- ============================================================== -->
   <div class="dashboard-main-wrapper">
     <!-- ============================================================== -->
     <!-- navbar -->
     <!-- ============================================================== -->
     <div class="dashboard-header">
         <nav class="navbar navbar-expand-lg bg-M4A fixed-top">
             <a class="navbar-brand">Remote sensing-M4A</a>
             <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                 <span class="navbar-toggler-icon"></span>
             </button>
             <div class="collapse navbar-collapse " id="navbarSupportedContent">
                 <ul class="navbar-nav ml-auto navbar-right-top">
                     <li class="nav-item dropdown notification">
                         <a class="nav-link nav-icons" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-fw fa-bell"></i> <span class="indicator"></span></a>
                         <ul class="dropdown-menu dropdown-menu-right notification-dropdown">
                             <li>
                                 <div class="notification-title"> Notification</div>
                                 <div class="notification-list">
                                     <div class="list-group">
                                         <a href="#" class="list-group-item list-group-item-action active">
                                             <div class="notification-info">
                                                 <div class="notification-list-user-img"><img src="assets/images/avatar-2.jpg" alt="" class="user-avatar-md rounded-circle"></div>
                                                 <div class="notification-list-user-block"><span class="notification-list-user-name">Jeremy Rakestraw</span>accepted your invitation to join the team.
                                                     <div class="notification-date">2 min ago</div>
                                                 </div>
                                             </div>
                                         </a>
                                         <a href="#" class="list-group-item list-group-item-action">
                                             <div class="notification-info">
                                                 <div class="notification-list-user-img"><img src="assets/images/avatar-3.jpg" alt="" class="user-avatar-md rounded-circle"></div>
                                                 <div class="notification-list-user-block"><span class="notification-list-user-name">John Abraham </span>is now following you
                                                     <div class="notification-date">2 days ago</div>
                                                 </div>
                                             </div>
                                         </a>
                                         <a href="#" class="list-group-item list-group-item-action">
                                             <div class="notification-info">
                                                 <div class="notification-list-user-img"><img src="assets/images/avatar-4.jpg" alt="" class="user-avatar-md rounded-circle"></div>
                                                 <div class="notification-list-user-block"><span class="notification-list-user-name">Monaan Pechi</span> is watching your main repository
                                                     <div class="notification-date">2 min ago</div>
                                                 </div>
                                             </div>
                                         </a>
                                         <a href="#" class="list-group-item list-group-item-action">
                                             <div class="notification-info">
                                                 <div class="notification-list-user-img"><img src="assets/images/avatar-5.jpg" alt="" class="user-avatar-md rounded-circle"></div>
                                                 <div class="notification-list-user-block"><span class="notification-list-user-name">Jessica Caruso</span>accepted your invitation to join the team.
                                                     <div class="notification-date">2 min ago</div>
                                                 </div>
                                             </div>
                                         </a>
                                     </div>
                                 </div>
                             </li>
                             <li>
                                 <div class="list-footer"> <a href="#">View all notifications</a></div>
                             </li>
                         </ul>
                     </li>
                     <li class="nav-item dropdown connection">
                         <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fas fa-fw fa-th"></i> </a>
                         <ul class="dropdown-menu dropdown-menu-right connection-dropdown">
                             <li class="connection-list">
                                 <div class="row">
                                     <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                         <a href="#" class="connection-item"><img src="assets/images/github.png" alt="" > <span>Github</span></a>
                                     </div>
                                     <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                         <a href="#" class="connection-item"><img src="assets/images/dribbble.png" alt="" > <span>Dribbble</span></a>
                                     </div>
                                     <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                         <a href="#" class="connection-item"><img src="assets/images/dropbox.png" alt="" > <span>Dropbox</span></a>
                                     </div>
                                 </div>
                                 <div class="row">
                                     <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                         <a href="#" class="connection-item"><img src="assets/images/bitbucket.png" alt=""> <span>Bitbucket</span></a>
                                     </div>
                                     <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                         <a href="#" class="connection-item"><img src="assets/images/mail_chimp.png" alt="" ><span>Mail chimp</span></a>
                                     </div>
                                     <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                         <a href="#" class="connection-item"><img src="assets/images/slack.png" alt="" > <span>Slack</span></a>
                                     </div>
                                 </div>
                             </li>
                             <li>
                                 <div class="conntection-footer"><a href="#">More</a></div>
                             </li>
                         </ul>
                     </li>
                     <li class="nav-item dropdown nav-user">
                         <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="assets/images/avatar-1.jpg" alt="" class="user-avatar-md rounded-circle"></a>
                         <div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
                             <div class="nav-user-info">
                                 <h5 class="mb-0 text-white nav-user-name"> </h5>
                                 <span class="status"></span><span class="ml-2">Available</span>
                             </div>
                             <a class="dropdown-item" href="#"><i class="fas fa-user mr-2"></i>Account</a>
                             <a class="dropdown-item" href="#"><i class="fas fa-cog mr-2"></i>Setting</a>
                             <a class="dropdown-item" href="#"><i class="fas fa-power-off mr-2"></i>Logout</a>
                         </div>
                     </li>
                 </ul>
             </div>
         </nav>
     </div>
     <!-- ============================================================== -->
     <!-- end navbar -->
     <!-- ============================================================== -->
     <!-- ============================================================== -->
     <!-- left sidebar -->
     <!-- ============================================================== -->
     <div class="nav-left-sidebar sidebar-M4A">
         <div class="menu-list">
             <nav class="navbar navbar-expand-lg navbar-light">
                 <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
                 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                     <span class="navbar-toggler-icon"></span>
                 </button>
                 <div class="collapse navbar-collapse" id="navbarNav">
                     <ul class="navbar-nav flex-column">
                         <li class="nav-divider">
                             Menu
                         </li>
                         <li class="nav-item">
                          <a class="nav-link active" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-9" aria-controls="submenu-9"><i class="fas fa-fw fa-map-marker-alt"></i>Maps</a>
                          <div id="submenu-9" class="collapse submenu" style="">
                              <ul class="nav flex-column">
                                  <li class="nav-item">
                                      <a class="nav-link" (click)="btnClickMapUser();">Select terrain</a>
                                  </li>
                              </ul>
                          </div>
                      </li>
                         <li class="nav-item ">
                             <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-1" aria-controls="submenu-1"><i class="fa fa-fw fa-user-circle"></i>Dashboard <span class="badge badge-success">6</span></a>
                             <div id="submenu-1" class="collapse submenu" style="">
                                 <ul class="nav flex-column">
                                     <li class="nav-item">
                                         <a class="nav-link" (click)="btnDashBoard();">Terrain Analysis</a>
                                     </li>
                                     <li class="nav-item">
                                         <a class="nav-link" >List of Terrains</a>
                                     </li>
                                 </ul>
                             </div>
                         </li>
                     </ul>
                 </div>
             </nav>
         </div>
     </div>
     <!-- ============================================================== -->
     <!-- end left sidebar -->
     <!-- ============================================================== -->
<!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper">
          <div class="container-fluid dashboard-content">
              <!-- ============================================================== -->
              <!-- pageheader -->
              <!-- ============================================================== -->
              <div class="row">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                      <div class="page-header">
                          <h1 class="pageheader-title">Select map to analyze</h1>
                          <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit amet vestibulum mi. Morbi lobortis pulvinar quam.</p>
                          <div class="page-breadcrumb">

                          </div>
                      </div>
                  </div>
              </div>
              <!-- ============================================================== -->
              <!-- end pageheader -->
              <!-- ============================================================== -->
              <div class="row">
                  <!-- ============================================================== -->
                  <!-- basic map -->
                  <!-- ============================================================== -->
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

                      <div class="card">
                          <h5 class="card-header"><i class='bx bxs-map-alt' ></i> Map</h5>
                          <h3>Draw a polygon using the draw tools</h3>
                          <div class="card-body">
                            <div id="map" class="gmaps"></div>
                            <div class="calculation-box">
                           <!-- <ul>
                              <li *ngFor="let coor of coordinates">
                                {{ coor }}
                              </li>
                            </ul> -->

                            </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-xl-6 col-lg-12 col-md-6 col-sm-12 col-12">
                    <div class="card">
                      <h5 class="card-header"><i class='bx bx-location-plus' ></i> Coordinates</h5>
                      <div class="card-body p-0">
                        <div class="table-responsive">
                              <div id = "calculated-area">

                              </div>
                        </div>

                  </div>
                </div>
                </div>
                  <!-- ============================================================== -->
                  <!-- end basic map -->
                  <!-- ============================================================== -->
                  <div class="col-xl-6 col-lg-12 col-md-6 col-sm-12 col-12">
                    <div class="card">
                      <h5 class="card-header"><i class='bx bx-message-rounded-edit' ></i> Features</h5>
                      <div class="card-body p-0">
                        <div class="table-responsive">
                        </div>
                              <i class="bx bx-shape-polygon"></i><h4>Area in m²</h4>
                              <div id = "Area">
                              </div>
                              <form [formGroup] = "saveForm" (ngSubmit) = "save()">
                              <div class="form-group">
                                <i class='bx bxs-tree' ></i>
                                <h4>Select the type of farm</h4>
                                <select class="form-control" >
                                  <option>Avocado</option>
                                  <option>Banana</option>
                                  <option>Beans</option>
                                  <option>Cantaloupe</option>
                                  <option>Chili pepper</option>
                                  <option>Cocoa</option>
                                  <option>Coconut</option>
                                  <option>Coffee</option>
                                  <option>Corn</option>
                                  <option>Cotton</option>
                                  <option>Cucumber</option>
                                  <option>Eggplant</option>
                                  <option>Lemon</option>
                                  <option>Oil palm</option>
                                  <option>Onion</option>
                                  <option>Orange</option>
                                  <option>Pepper</option>
                                  <option>Potato</option>
                                  <option>Pumpkin</option>
                                  <option>Rice</option>
                                  <option>Sorghum</option>
                                  <option>Soy</option>
                                  <option>Sugar cane</option>
                                  <option>Tomato</option>
                                  <option>Watermelon</option>
                                  <option>Yam</option>
                                  <option>Yucca</option>
                                  <option>Zapallo</option>
                                  <option>Other</option>
                                </select>
                              </div>
                              <div class="form-group">
                                <i class='bx bx-atom' ></i>
                                <h4>Select the type of analysis</h4>
                                <select class="form-control" >
                                  <option>Total Analysis</option>
                                  <option>Partial Analysis</option>
                                  <option>Time Series Analysis</option>
                                </select>
                              </div>
                              <div class="form-group">
                                <i class='bx bx-home' ></i>
                                <h4>Type the name of the Farm</h4>
                                <input type="text" class="form-control" formControlName = "name" placeholder="Enter name of the farm">
                              </div>
                              <div style="text-align:center">
                                <button class="btn-save" [disabled]="saveForm.invalid">Save</button>
                              </div>
                            </form>

                        </div>

                  </div>


              </div>
            </div>
          </div>

      </div>
  </div>
  <!-- ============================================================== -->
  <!-- end main wrapper -->
  <!-- ============================================================== -->


<!-- Starts Footer -->
<footer id="footer">
 <div class="container">
   <h3>Minds For Analytics</h3>
   <div class="social-links">
     <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
     <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
     <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
     <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
   </div>
   <div class="copyright">
     &copy; Copyright <strong><span>Minds For Analytics</span></strong>. All Rights Reserved
   </div>
   <div class="credits">
     Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
   </div>
 </div>
</footer><!-- End Footer -->


</body>

<ng-template #secondDialog>
  <h2 matDialogTitle>Your coordinates were sended successfully</h2>
  <p matDialogContent>The Terrain will be examined in a period of 3 days and the result will appear in the Dashboard/Terrain Analysis section.</p>
  <mat-dialog-actions align="end">
    <button mat-button matDialogClose>Close</button>
  </mat-dialog-actions>
